/* google web font */
h1 {
    visibility: hidden;
    font-family: 'Racing Sans One', sans-serif;
    font-weight: 400;
}
.custom-font {
    visibility: hidden;
    font-family: 'Racing Sans One', sans-serif;
    font-weight: 400;
}
/* navbar padding */
body {
    padding-top: 70px;
}
/* nice hero-unit */
.hero-unit {
    background: transparent;
}
