/* google web font */
h1 {
    visibility: hidden;
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
}
.custom-font {
    visibility: hidden;
    font-family: 'Quantico', sans-serif;
    font-weight: 400;
}
/* navbar padding */
body {
    padding-top: 50px;
}
