/* google web font */
h1 {
    visibility: hidden;
    font-family: 'Racing Sans One', sans-serif;
    font-weight: 400;
}
.custom-font {
    visibility: hidden;
    font-family: 'Racing Sans One', sans-serif;
    font-weight: 400;
}
body {
    padding-top: 10px;
}
