<!-- github -->
<iframe src="http://ghbtns.com/github-btn.html?user=xonecas&type=follow&count=false" allowtransparency="true" frameborder="0" scrolling="0" width="250" height="30"></iframe>
<!-- twitter -->
<p><a href="https://twitter.com/xonecas" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @xonecas</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

