<div>
    <div>
        <a href="//www.gravatar.com/avatar/9ae495ba55b662af127e43af7296dc5e.png"
            target="_blank" title="╯°□°）╯︵ ┻━┻">
            <img class="pull-left avatar"
                alt="Sean Caetano Martin's profile picture"
                src="//www.gravatar.com/avatar/9ae495ba55b662af127e43af7296dc5e.png">
        </a>
        <h1>
            <a href="/">Sean Caetano Martin</a>
        </h1>
    </div>
    <div class="muted">
        {% capture about %}{% include about.markdown %}{% endcapture %}
        {{ about | markdownify }}
        {% include buttons.html %}
    </div>
</div>
