<!doctype html>
<html lang="en">
    <head>
        <title>Sean Caetano Martin</title>
        <meta charset="utf-8">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/css/native.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <div class="container-fluid">
        {{ content }}
    </div>
    {% include analytics.html %}
    </body>
</html>
