<!doctype html>
<html lang="en">
    <head>
        <title>Sean Caetano Martin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/css/pygments.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body style="display: none;">
        <div class="container">
            <div class="hero-unit">
                <h1>
                    A place for code and tech.
                </h1>
            </div>

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <span class="brand custom-font">Sean Caetano Martin</span>
                        <ul class="nav">
                            <li>
                            <a href="/">Blog</a>
                            </li>
                            <li>
                            <a href="/work.html">Work</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {{ content }}
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
