<!doctype html>
<html lang="en">
    <head>
        <title>Sean Caetano Martin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/css/pygments.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body style="display: none;">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand custom-font" href="/">Sean Caetano Martin</a>
                    <ul class="nav nav-main">
                        <li>
                        <a href="/blog.html">Blog</a>
                        </li>
                        <li>
                        <a href="/work.html">Work</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <a id="light-switch" href="#">Flip the lights</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            {{ content }}
        </div>

        {% include analytics.html %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
